Source: {{product}}
Section: web
Priority: optional
Maintainer: Ascensio System SIA <support@onlyoffice.com>
Build-Depends: debhelper (>= 10), po-debconf, nodejs (>= 22~), dotnet-sdk-10.0, yarn, unzip, maven, 
	openjdk-21-jdk-headless | temurin-21-jdk | jdk-21 | jdk-21-headless | zulu21-jdk-headless | java-21-amazon-corretto-jdk
Standards-Version: {{package_header_tag_version}}
Homepage: https://www.onlyoffice.com/
Architecture: all 
Multi-Arch: foreign

Package: {{product}}
Architecture: all
Multi-Arch: foreign
Depends: debconf, openssl,
         ${misc:Depends}, ${shlibs:Depends},
         {{product}}-api (= {{package_header_tag_version}}),
         {{product}}-api-system (= {{package_header_tag_version}}),
         {{product}}-backup (= {{package_header_tag_version}}),
         {{product}}-backup-background (= {{package_header_tag_version}}),
         {{product}}-clear-events (= {{package_header_tag_version}}),
         {{product}}-doceditor (= {{package_header_tag_version}}),
         {{product}}-files (= {{package_header_tag_version}}),
         {{product}}-files-services (= {{package_header_tag_version}}),
         {{product}}-healthchecks (= {{package_header_tag_version}}),
         {{product}}-login (= {{package_header_tag_version}}),
         {{product}}-management (= {{package_header_tag_version}}),
         {{product}}-migration-runner (= {{package_header_tag_version}}),
         {{product}}-notify (= {{package_header_tag_version}}),
         {{product}}-people-server (= {{package_header_tag_version}}),
         {{product}}-proxy (= {{package_header_tag_version}}),
         {{product}}-plugins (= {{package_header_tag_version}}),
         {{product}}-socket (= {{package_header_tag_version}}),
         {{product}}-ssoauth (= {{package_header_tag_version}}),
         {{product}}-studio (= {{package_header_tag_version}}),
         {{product}}-studio-notify (= {{package_header_tag_version}}),
         {{product}}-identity-api (= {{package_header_tag_version}}),
         {{product}}-identity-authorization (= {{package_header_tag_version}}),
         {{product}}-sdk (= {{package_header_tag_version}}),
         {{product}}-telegram (= {{package_header_tag_version}}),
         {{product}}-ai (= {{package_header_tag_version}}),
         {{product}}-ai-service (= {{package_header_tag_version}}),
         {{product}}-mcp (= {{package_header_tag_version}}),
Description: {{product}}
	ONLYOFFICE {{product}} is a new way to collaborate on documents with teams, 
	clients, partners, etc., based on the concept of rooms - special spaces with 
	predefined permissions. This is a dependency package.

Package: {{product}}-common
Architecture: all
Multi-Arch: foreign
Depends: adduser, ${misc:Depends}, ${shlibs:Depends}
Recommends: default-mysql-client
Description: {{product}}-common
	A package containing configs and scripts.

Package: {{product}}-backup
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-backup
	The service which handles API requests related to backup.

Package: {{product}}-files
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Recommends: opensearch (= 2.11.1)
Description: {{product}}-files
	The REST API server for working with documents. The service which handles
	API requests related to documents and launches the OFormService service.

Package: {{product}}-files-services
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Recommends: ffmpeg, opensearch (= 2.11.1)
Description: {{product}}-files-services
	The service which launches additional services related to file management:
	 - ElasticSearchIndexService - indexes documents using elasticsearch;
	 - FeedAggregatorService - aggregates notifications;
	 - FeedCleanerService - removes notifications;
	 - FileConverterService - converts documents;
	 - ThumbnailBuilderService - generates thumbnails for documents;
	 - Launcher - removes outdated files from Trash;

Package: {{product}}-notify
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Recommends: ffmpeg, opensearch (= 2.11.1)
Description: {{product}}-notify
	The service which launches additional services related to notifications
	about DocSpace events: NotifySenderService which sends messages from the
	base, and NotifyCleanerService which removes messages.

Package: {{product}}-people-server
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-people-server
	The service which handles API requests related to the People module.

Package: {{product}}-socket
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), nodejs (>= 22~), ${misc:Depends}, ${shlibs:Depends}
Recommends: redis-server
Description: {{product}}-socket
	The service which provides two-way communication between a web browser and the server.

Package: {{product}}-studio-notify
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-studio-notify
	The service responsible for creating notifications and 
	sending them to other services, for example, TelegramService and NotifyService.

Package: {{product}}-api
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Recommends: rabbitmq-server, apache-activemq, redis-server
Description: {{product}}-api
	The service which is used for working with a certain portal. This service
	handles API requests not related to backup, documents, and the People
	module, for example, requests related to settings, audit, authentication, etc.

Package: {{product}}-api-system
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-api-system
	The service which is used for working with portals (creating, removing portals, etc.)

Package: {{product}}-studio
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-studio
	The service which processes storage handlers.

Package: {{product}}-proxy
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), openresty, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-proxy
	The service which is used as a web server and reverse proxy, 
	it receives and handles requests, transmits them to other services, 
	receives a response from them and returns it to the client.

Package: {{product}}-ssoauth
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), nodejs (>= 22~), ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-ssoauth
	The service responsible for enabling and configuring 
	SAML-based single sign-on (SSO) authentication to provide a more quick, 
	easy and secure way to access DocSpace for users.

Package: {{product}}-identity-api
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), ${misc:Depends}, ${shlibs:Depends},
	openjdk-21-jre-headless | temurin-21-jre | jdk-21 | jdk-21-headless | zulu21-jre-headless | java-21-amazon-corretto-jdk
Description: {{product}}-identity-api
	The service responsible for managing user identities and authentication
	within DocSpace by using the OAuth technology.

Package: {{product}}-identity-authorization
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), ${misc:Depends}, ${shlibs:Depends},
	openjdk-21-jre-headless | temurin-21-jre | jdk-21 | jdk-21-headless | zulu21-jre-headless | java-21-amazon-corretto-jdk
Description: {{product}}-identity-authorization
	The service responsible for authentication methods used to access
	DocSpace, e.g., the OAuth technology.

Package: {{product}}-backup-background
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-backup-background
	The service which launches additional services related to backup creation:
	 - BackupWorkerService - launches WorkerService which runs backup/restore, etc;
	 - BackupListenerService - waits for a signal to delete backups;
	 - BackupCleanerTempFileService - removes temporary backup files;
	 - BackupCleanerService - removes outdated backup files;
	 - BackupSchedulerService - runs backup according to a schedule;

Package: {{product}}-clear-events
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-clear-events
	The service responsible for clearing the login_events and audit_events
	tables by LoginHistoryLifeTime and AuditTrailLifeTime to log out users
	after a timeout.

Package: {{product}}-migration-runner
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-migration-runner
	The service responsible for the database creation.
	A database connection is transferred to the service and
	the service creates tables and populates them with values.

Package: {{product}}-doceditor
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), nodejs (>= 22~), ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-doceditor
	The service which allows interaction with documentserver.

Package: {{product}}-login
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), nodejs (>= 22~), ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-login
	The service which is used for logging users and displaying the wizard.

Package: {{product}}-healthchecks
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-healthchecks
	The service which displays launched services.

Package: {{product}}-plugins
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-plugins
	This package includes plugins that extend DocSpace functionality.

Package: {{product}}-sdk
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), nodejs (>= 22~), ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-sdk
	The service which allows integrating DocSpace into your own web
	application by using JavaScript SDK.

Package: {{product}}-management
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), nodejs (>= 22~), ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-management
	The service responsible for creating and managing several spaces.

Package: {{product}}-telegram
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-telegram
	The service which is used for receiving DocSpace notifications via Telegram.

Package: {{product}}-ai
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-ai
	The REST API server for working with AI features. The service which
	handles API requests related to AI.

Package: {{product}}-ai-service
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), dotnet-sdk-10.0, ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-ai-service
	The service for background tasks related with AI. It vectorizes documents
	from the knowledge base for subsequent semantic search and performs
	chat/message export.

Package: {{product}}-mcp
Architecture: all
Multi-Arch: foreign
Depends: {{product}}-common (= {{package_header_tag_version}}), nodejs (>= 22~), ${misc:Depends}, ${shlibs:Depends}
Description: {{product}}-mcp
	The server that operates using the Model Context Protocol, which provides
	AI with functionality for working in DocSpace.
