#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh $@ --with=systemd

PRODUCT={{product}}
SOURCE_PATH=${CURDIR}/debian/source
BUILD_PATH=${CURDIR}/debian/build
BUILDTOOLS_PATH=${BUILD_PATH}/buildtools
SERVER_PATH=${BUILD_PATH}/server
CLIENT_PATH=${BUILD_PATH}/client

override_dh_auto_clean:
	@echo "RULES.$@"
	dh_testdir 
	rm -rf ${BUILD_PATH}
	rm -rf ${CURDIR}/debian/*.service
	rm -rf ${CURDIR}/debian/*.lintian-overrides
	find "${CURDIR}/../" -type f -regex ".\/${PRODUCT}.*\.\(deb\|tar\.gz\|dsc\|changes\|buildinfo\)" -delete

override_dh_auto_configure:
	@echo "RULES.$@"
	dh_testdir 
	dh_auto_configure

extract_archive = \
	[ -f "$1" ] || { echo "Error: $2.tar.gz archive not found in ${SOURCE_PATH}"; exit 1; }; tar -xf "$1" $3 --transform='s,^[^/]\+,$2,'

.PHONY: check_archives

check_archives:
	@echo "Checking for archives in sources directories..."; \
	mkdir -p ${BUILD_PATH}; \
	$(call extract_archive,${SOURCE_PATH}/buildtools.tar.gz,buildtools,-C ${BUILD_PATH}) & \
	$(call extract_archive,${SOURCE_PATH}/server.tar.gz,server,-C ${BUILD_PATH}) & \
	$(call extract_archive,${SOURCE_PATH}/client.tar.gz,client,-C ${BUILD_PATH}) & \
	$(call extract_archive,${SOURCE_PATH}/DocStore.tar.gz,DocStore,-C ${BUILD_PATH}) & \
	$(call extract_archive,${SOURCE_PATH}/campaigns.tar.gz,campaigns,-C ${BUILD_PATH}) & \
	$(call extract_archive,${SOURCE_PATH}/plugins.tar.gz,plugins,-C ${BUILD_PATH}) & \
	$(call extract_archive,${SOURCE_PATH}/mcp.tar.gz,mcp,-C ${BUILD_PATH}) & \
	wait; \
	$(call extract_archive,${SOURCE_PATH}/document-formats.tar.gz,document-formats,-C ${BUILDTOOLS_PATH}/config); \
	echo "Source archives check passed."

override_dh_auto_build: check_archives
	cd ${BUILDTOOLS_PATH}/install/common; \
	bash systemd/build.sh -bp "${CURDIR}/debian/"; \
	bash plugins-build.sh ${BUILD_PATH}/plugins; \
	bash packages-build.sh deb ${BUILD_PATH} ${PRODUCT} "{{package_header_tag_version}}"

	for i in ${PRODUCT} $$(ls ${CURDIR}/debian/*.install | grep -oP 'debian/\K.*' | grep -o '^[^.]*'); do \
		cp ${CURDIR}/debian/source/lintian-overrides ${CURDIR}/debian/$$i.lintian-overrides; \
	done

execute_after_dh_fixperms:
	chmod o-rwx ${CURDIR}/debian/${PRODUCT}-common/etc/onlyoffice/${PRODUCT}/*

override_dh_systemd_enable:
	dh_systemd_enable --no-enable

override_dh_systemd_start:
	dh_systemd_start --no-start --no-restart-after-upgrade --no-stop-on-upgrade

override_dh_auto_install:

override_dh_strip:
	dh_strip -Xarm --no-automatic-dbgsym

override_dh_shlibdeps:
	dh_shlibdeps -Xarm -Xkafka -- -xlibgcc-s1 --ignore-missing-info -xlibgcc1

override_dh_builddeb:
	dh_builddeb -- -Zxz
	@echo "Removing files after package creation..."
	rm -rf ${BUILD_PATH}

override_dh_installinit:
# don't do anything, silences lintian warnings "init.d-script-not-included-in-package"
