name: Build packages

on:
  push:
    branches:
      - "release/**"
      - "hotfix/**"
      - "develop"
    paths:
      - ".github/workflows/build_packages.yml"
  workflow_dispatch:
    inputs:
      branch-buildtools:
        description: "Branch for buildtools repository"
        required: true
        default: "develop"
      branch-client:
        description: "Branch for client repository"
        required: true
        default: "develop"
      branch-server:
        description: "Branch for server repository"
        required: true
        default: "develop"
      deb_build:
        type: boolean
        description: "Trigger DEB build"
        default: true
      rpm_build:
        type: boolean
        description: "Trigger RPM build"
        default: true

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  PRODUCT: "DocSpace"
  BRANCH_BUILDTOOLS: ${{ github.event.inputs.branch-buildtools || github.ref_name || 'develop' }}
  BRANCH_CLIENT: ${{ github.event.inputs.branch-client || github.ref_name || 'develop' }}
  BRANCH_SERVER: ${{ github.event.inputs.branch-server || github.ref_name || 'develop' }}

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      build_all: ${{ steps.set-matrix.outputs.build_all }}
    steps:
      - name: Checkout repository 
        run: |
          git clone https://${{ secrets.GITEA_TOKEN }}@${{ secrets.GITEA_HOST }}/${{ github.repository }} -b ${{ github.ref_name }} --single-branch --depth=1
          cd "${GITHUB_REPOSITORY#*/}"
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Set matrix
        id: set-matrix
        run: |
          package_types=()
          if [[ "${{ github.event_name }}" == "push" ]]; then
            package_types=("deb" "rpm"); echo "build_all=true" >> $GITHUB_OUTPUT
          else
            [[ "${{ github.event.inputs.deb_build }}" == "true" ]] && package_types+=("deb")
            [[ "${{ github.event.inputs.rpm_build }}" == "true" ]] && package_types+=("rpm")
          fi
          [[ ${#package_types[@]} -eq 0 ]] && { echo "::error::No package types specified"; exit 1; }
          matrix=$(printf '%s\n' "${package_types[@]}" | jq -R . | jq -sc '{include: map({packageType: .})}')
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

      - name: Changelog generation
        run: |
          cd ${GITHUB_REPOSITORY#*/}/install/common
          bash changelog.sh deb; bash changelog.sh rpm
          git add ../deb/debian/changelog ../rpm/SPECS/changelog.spec
          if ! git diff --cached --quiet; then
            git commit -m "Update packages changelogs"
            git push origin HEAD:${{ github.ref_name }}
          else
            echo "No changes in changelog files" 
          fi

  build:
    name: Build Packages
    needs: prepare
    runs-on: ubuntu-22.04
    strategy:
      matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
      - name: Free Disk Space
        run: |
          curl -fsSL https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${BRANCH_BUILDTOOLS}/.github/scripts/free-disk-space-linux.sh | sudo bash

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set product version
        run: |
          PRODUCT_VERSION=$(grep -oP '\d+\.\d+\.\d+' <<< "${BRANCH_BUILDTOOLS//\//} ${BRANCH_CLIENT//\//} ${BRANCH_SERVER//\//}" | head -n1)
          echo "PRODUCT_VERSION=${PRODUCT_VERSION:-3.6.0}" >> $GITHUB_ENV

      - name: Import GPG
        uses: crazy-max/ghaction-import-gpg@v6
        id: gpg_step
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PRIVATE_KEY_PASS }}

      - name: Prepare build
        run: |
          wget -O - https://dl.yarnpkg.com/debian/pubkey.gpg | \
          sudo gpg --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/yarnkey.gpg --import
          sudo chmod 644 /usr/share/keyrings/yarnkey.gpg
          echo "deb [signed-by=/usr/share/keyrings/yarnkey.gpg] https://dl.yarnpkg.com/debian/ stable main" | \
          sudo tee /etc/apt/sources.list.d/yarn.list
          curl -fsSL https://deb.nodesource.com/setup_22.x | sudo bash -
          sudo add-apt-repository -y ppa:dotnet/backports
          sudo apt install -y dotnet-sdk-10.0 yarn nodejs rename unzip maven openjdk-21-jdk-headless
          JAVA_PATH=$(find /usr/lib/jvm/ -name "java" -path "*java-${JAVA_VERSION}*" | head -1)
          sudo update-alternatives --install /usr/bin/java java "$JAVA_PATH" 100 && sudo update-alternatives --set java "$JAVA_PATH"
          echo "JAVA_HOME=$(dirname $(dirname "$JAVA_PATH"))" >> $GITHUB_ENV
          sudo npm install -g json pnpm
          if [[ "${{ matrix.packageType }}" == "rpm" ]]; then
            sudo apt install -y python3-rpm python3-pip
            sudo pip install rpmlint
          else
            sudo apt install -y build-essential lintian dh-make
            DPKG_SIG_VERSION=$(wget -qO- https://archive.ubuntu.com/ubuntu/pool/universe/d/dpkg-sig/ | grep -oP '(?<=href=")dpkg-sig_[^"]+_all\.deb' | sort -Vr | head -1)
            wget -q https://archive.ubuntu.com/ubuntu/pool/universe/d/dpkg-sig/${DPKG_SIG_VERSION} && sudo apt -y install ./${DPKG_SIG_VERSION}
          fi

      - name: Download sources
        run: |
          case "${{ matrix.packageType }}" in
            deb) SOURCE_DIR="${GITHUB_WORKSPACE}/install/${{ matrix.packageType }}/debian/source" ;;
            rpm) SOURCE_DIR="${GITHUB_WORKSPACE}/install/${{ matrix.packageType }}/SPECS/SOURCES" ;;
          esac
          download() { wget -q -O "${SOURCE_DIR}/$3.tar.gz" "https://codeload.github.com/ONLYOFFICE/$1/tar.gz/$2" && echo -e "\e[32m[OK] $3\e[0m" || echo -e "\e[31m[FAILED] $3\e[0m"; }
          download "$PRODUCT-buildtools"  "$BRANCH_BUILDTOOLS"      buildtools &
          download "$PRODUCT-client"      "$BRANCH_CLIENT"          client &
          download "$PRODUCT-server"      "$BRANCH_SERVER"          server &
          download "document-templates"   "main/community-server"   DocStore &
          download "ASC.Web.Campaigns"    "master"                  campaigns &
          download "$PRODUCT-plugins"     "master"                  plugins &
          download "document-formats"     "master"                  document-formats &
          download "$PRODUCT-mcp"         "main"                    mcp &
          wait

      - name: Build DEB Packages
        if: matrix.packageType == 'deb'
        working-directory: ${{ github.workspace }}/install/deb
        run: |
          if ! grep -qF "${PRODUCT_VERSION}" debian/changelog; then
            TMP=$(mktemp)
            { printf '{{product}} ({{package_header_tag_version}}) unstable; urgency=medium\n\n'
              printf '  * Upstream has been updated to version %s.\n\n' "${PRODUCT_VERSION}"
              printf ' -- Ascensio System SIA <support@onlyoffice.com>  %s\n\n' "$(date -R)"
              cat debian/changelog
            } > "${TMP}" && mv "${TMP}" debian/changelog
          fi
          
          rename -f -v "s/product([^\/]*)$/${PRODUCT,,}\$1/g" debian/*
          find debian/ -type f -exec sed -i -e "s/{{product}}/${PRODUCT,,}/g" -e "s/{{package_header_tag_version}}/${PRODUCT_VERSION}.${GITHUB_RUN_NUMBER}/g" {} +
          yq -r '.files[] | .name as $n | "cat <<EOF > debian/\($n)\n" + .content + "\nEOF"' debian/files-bundle.yaml | bash
          export DEB_BUILD_OPTIONS="parallel=$(nproc)"
          dpkg-buildpackage -uc -us

      - name: Build RPM Packages
        if: matrix.packageType == 'rpm'
        working-directory: ${{ github.workspace }}/install/rpm/SPECS
        run: |
          if ! grep -qF "${PRODUCT_VERSION}" /rpm/SPECS/changelog.spec; then
            TMP=$(mktemp)
            awk -v DATE="$(date '+%a %b %d %Y')" -v VERSION="${PRODUCT_VERSION}" ' /^%changelog$/ {
                print
                print "* " DATE " %{packager} - %{version}"
                print "  - Upstream has been updated to version "VERSION".\n"
                next
              } { print } ' /rpm/SPECS/changelog.spec > ${TMP} && mv ${TMP} /rpm/SPECS/changelog.spec
          fi
          
          mv ./SOURCES/product.rpmlintrc ./SOURCES/${PRODUCT,,}.rpmlintrc
          sed -i -e '/BuildRequires/d' product.spec
          rpmbuild -D "packager Ascensio System SIA <support@onlyoffice.com>" \
                   -D "_topdir $(pwd)" \
                   -D "version ${PRODUCT_VERSION}" \
                   -D "release ${GITHUB_RUN_NUMBER}" -ba product.spec

      - name: Sign DEB Packages
        if: matrix.packageType == 'deb'
        run: |
          dpkg-sig --sign origin \
            --gpg-options "--pinentry-mode loopback --passphrase ${{ secrets.GPG_PRIVATE_KEY_PASS }}" \
            --batch ${GITHUB_WORKSPACE}/install/*.deb

      - name: Sign RPM Packages
        if: matrix.packageType == 'rpm'
        run: |
          gpg --export --armor > gpgkey.pub && rpm --import gpgkey.pub
          rpm -D "__gpg /usr/bin/gpg" \
              -D "_gpg_path $HOME/.gnupg" \
              -D "_gpg_name ${{ secrets.GPG_KEY_NAME }}" \
              -D "_gpg_sign_cmd_extra_args --pinentry-mode loopback --passphrase ${{ secrets.GPG_PRIVATE_KEY_PASS }}" \
              --addsign ${GITHUB_WORKSPACE}/install/rpm/SPECS/RPMS/noarch/*.rpm 

      - name: Upload DEB Packages
        if: matrix.packageType == 'deb'
        run: |
          find "${GITHUB_WORKSPACE}/install" -name "*.${{ matrix.packageType }}" | xargs -P4 -I{} bash -c '
            curl -sS --fail --retry 10 --retry-delay 10 --connect-timeout 60 --max-time 180 -H "Content-Type: multipart/form-data" \
              -u "${{ secrets.REPO_LOGIN }}:${{ secrets.REPO_PASS }}" --data-binary "@$1" "${{ secrets.REPO_URL_4TESTING_DEB }}" \
            && echo -e "\e[32m[Success] $(basename "$1")\e[0m" || echo "::warning:: [Uploading errors] $(basename "$1")"' _ {}

      - name: Upload RPM Packages
        if: matrix.packageType == 'rpm'
        run: |
          find "${GITHUB_WORKSPACE}/install/rpm/SPECS/RPMS/noarch" -name "*.${{ matrix.packageType }}" | xargs -P4 -I{} bash -c '
            curl -sS --fail --retry 10 --retry-delay 10 --connect-timeout 60 --max-time 180 \
              -u "${{ secrets.REPO_LOGIN }}:${{ secrets.REPO_PASS }}" --upload-file "$1" "${{ secrets.REPO_URL_4TESTING_RPM}}/$(basename $1)" \
            && echo -e "\e[32m[Success] $(basename "$1")\e[0m" || echo "::warning:: [Uploading errors] $(basename "$1")"' _ {}

      - name: Checking the DEB package for errors
        if: matrix.packageType == 'deb'
        run: |
          for deb in ${GITHUB_WORKSPACE}/install/*.deb; do
            lintian --profile debian "$deb" > "${deb}.lintian" 2>&1 &
          done
          wait
          cat ${GITHUB_WORKSPACE}/install/*.lintian | tee LINTIAN
          if grep -qE '^(W:|E:)' LINTIAN; then
            echo "::warning Noticedeb=lintian::$(cat LINTIAN | awk '/^W:/ { ws += 1 } /^E:/ { es += 1 } END { print "Warnings:", ws, "Errors:", es }')"
          fi

      - name: Checking the RPM package for errors
        if: matrix.packageType == 'rpm'
        run: |
          for rpm_package in ${GITHUB_WORKSPACE}/install/rpm/SPECS/RPMS/noarch/*.rpm; do
            rpmlint --ignore-unused-rpmlintrc --rpmlintrc ${GITHUB_WORKSPACE}/install/rpm/SPECS/SOURCES/${PRODUCT,,}.rpmlintrc $rpm_package | tee -a RPM_LINT
          done
          if grep -qE '(W:|E:)' RPM_LINT; then
            echo "::warning Noticerpm=rpmlint::$(cat RPM_LINT | awk '/W:/ { ws += 1 } /E:/ { es += 1 } END { print "Warnings:", ws, "Errors:", es }')"
          fi

  trigger_oci:
    name: Trigger ci-oci-install Workflow
    needs: [prepare, build]
    runs-on: ubuntu-latest
    if: ${{ success() }}
    steps:
      - name: Trigger CI-OCI-Install Workflow
        env:
          GH_TOKEN: ${{ secrets.TOKEN }}
        run: |
          deb_build="${{ github.event.inputs.deb_build }}" rpm_build="${{ github.event.inputs.rpm_build }}"
          [[ "${{ needs.prepare.outputs.build_all }}" == "true" ]] && deb_build="true" && rpm_build="true"

          gh api --method POST /repos/${{ github.repository }}/actions/workflows/85067971/dispatches \
            -f ref='${{ github.ref_name }}' \
            -f inputs[deb_build]="${deb_build}" \
            -f inputs[rpm_build]="${rpm_build}"
