name: 4testing multiarch-build

on:
  workflow_dispatch:
    inputs:
      branches:
        description: 'Branches for multiarch build (JSON array)'
        required: false
        type: string

  repository_dispatch:
    types:
      - cron-trigger-action
      - config-trigger-action
      - client-trigger-action
      - server-trigger-action

env:
  DOCKER_PATH: "/install/docker"
  REPO: "onlyoffice"
  DOCKER_IMAGE_PREFIX: "4testing-docspace"
  DOCKERFILE: "Dockerfile.app"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64]
        branch: ${{ github.event.client_payload.branches || fromJson(inputs.branches) }}
    outputs:
      DOCKER_TAG: ${{ steps.prepare.outputs.DOCKER_TAG }}
    steps:
      - name: Free Disk Space
        run: |
          curl -fsSL https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ matrix.branch }}/.github/scripts/free-disk-space-linux.sh | sudo bash

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ matrix.branch }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Prepare build variables
        id: prepare
        run: |
          PRODUCT_VERSION=$(echo "${{ matrix.branch }}" | sed '/^release\b\|^hotfix\b\|^feature\b/s/release.*\/\|hotfix.*\/\|feature.*\///; s/-git-action$//; s/^v//')
          [ "${PRODUCT_VERSION}" = "develop" ] && PRODUCT_VERSION="develop"
          echo "DOCKER_TAG=${PRODUCT_VERSION}.${{ github.run_number }}" | tee -a "${GITHUB_ENV}" | tee -a "${GITHUB_OUTPUT}"
          echo "BAKE_ARGS=--sbom=true --provenance=mode=max --set *.args.GIT_BRANCH=${{ matrix.branch }} \
            --set *.args.PRODUCT_VERSION=${PRODUCT_VERSION} --set *.args.BUILD_NUMBER=${{ github.run_number }} \
            --set *.platform=linux/amd64 --push" >> $GITHUB_ENV

        shell: bash

      - name: Build dotnet-services
        run: |
          cd .${DOCKER_PATH}
          docker buildx bake -f build.hcl dotnet-services ${{ env.BAKE_ARGS }}
          printf '%.0s=' {1..80}; echo -e "\nDISK SPACE AFTER BUILD DOTNET SERVICES"; df -h; docker system df; printf '%.0s=' {1..80}; echo
          docker buildx prune -a -f; docker system prune -a -f --volumes
          
      - name: Build node-services
        run: |
          cd .${DOCKER_PATH}
          docker buildx bake -f build.hcl node-services ${{ env.BAKE_ARGS }}
          printf '%.0s=' {1..80}; echo -e "\nDISK SPACE AFTER BUILD NODE SERVICES"; df -h; docker system df; printf '%.0s=' {1..80}; echo
          docker buildx prune -a -f; docker system prune -a -f --volumes

      - name: Build java-services
        run: |
          cd .${DOCKER_PATH}
          docker buildx bake -f build.hcl java-services ${{ env.BAKE_ARGS }}
          printf '%.0s=' {1..80}; echo -e "\nDISK SPACE AFTER BUILD JAVA SERVICES"; df -h; docker system df; printf '%.0s=' {1..80}; echo
          docker buildx prune -a -f; docker system prune -a -f --volumes

  trigger-oci-docker:
    name: Trigger ci-oci-docker-install Workflow
    needs: build
    if: ${{ needs.build.result == 'success' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: ${{ github.event.client_payload.branches || fromJson(inputs.branches) }}
    steps:
      - name: Wait for Docker Hub tag to appear
        shell: bash
        env:
          DOCKER_TAG: ${{ needs.build.outputs.DOCKER_TAG }}
        run: |
          echo "Waiting for images with tag ${{ env.DOCKER_TAG }} to appear on Docker Hub..."
          curl -fsSL https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ matrix.branch }}/.github/scripts/docker-images-availability.sh \
            | sudo GITHUB_REPOSITORY=${{ github.repository }} BRANCH=${{ matrix.branch }} DOCKER_REPOSITORY=${{ env.REPO }} DOCKER_PREFIX=${{ env.DOCKER_IMAGE_PREFIX }} DOCKER_TAG=${{ env.DOCKER_TAG }} bash

      - name: Trigger ci-oci-docker-install Workflow
        env:
          GH_TOKEN: ${{ secrets.TOKEN }}
        run: |
          echo "OCI docker test on branch ${{ matrix.branch }}"
          gh workflow run "ci-oci-docker-install.yml" --repo "${{ github.repository }}" --ref "${{ matrix.branch }}" --field offline=false --field testing=true
