name: Rebuild DocSpace vagrant boxes

run-name: "Rebuild DocSpace vagrant boxes version: ${{ github.event.inputs.box-version }}"

on:
  workflow_dispatch:
    inputs:
      box-version:
         type: string
         description: 'DocSpace version that will be installed inside box'
         required: true

jobs:
  rebuild-boxes:
    name: "Rebuild ${{ matrix.name}} ${{ github.event.inputs.box-version }}"
    runs-on: ubuntu-22.04
    env:
      HCP_CLIENT_ID: ${{ secrets.HCP_CLIENT_ID }}
      HCP_CLIENT_SECRET: ${{ secrets.HCP_CLIENT_SECRET }}
      BOX_VERSION: ${{ github.event.inputs.box-version }}
      VAGRANT_ORG: onlyoffice
      PRODUCT: docspace
      OS_NAME: ${{ matrix.name }}
      OS: ${{ matrix.os }}
      DISTR: ${{ matrix.distr }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - distr: generic
            os: rhel9
            name: "rhel9"

          - distr: onlyoffice
            os: base-centos9s
            name: "centos9s"

          - distr: onlyoffice
            os: base-debian11
            name: "debian11"

          - distr: onlyoffice
            os: base-debian12
            name: "debian12"

          - distr: onlyoffice
            os: base-debian13
            name: "debian13"

          - distr: onlyoffice
            os: base-ubuntu2204
            name: "ubuntu2204"

          - distr: onlyoffice
            os: base-ubuntu2404
            name: "ubuntu2404"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Free Disk Space
        run: |
          curl -fsSL https://raw.githubusercontent.com/rust-lang/rust/refs/heads/master/src/ci/scripts/free-disk-space-linux.sh | sed 's/::[^:]*:://g' | sudo bash
          curl -fsSL https://raw.githubusercontent.com/apache/arrow/refs/heads/main/ci/scripts/util_free_space.sh | sudo bash

      - name: 'Download hcp CLI'
        uses: 'hashicorp/hcp-setup-action@v0'
        with:
          version: 'latest'

      - name: Get update and install vagrant
        run: |
          set -eux
          gpg --keyserver keyserver.ubuntu.com --recv-keys A2F683C52980AECF && gpg --export A2F683C52980AECF > /usr/share/keyrings/virtualbox.gpg
          echo "deb [arch=amd64 signed-by=/usr/share/keyrings/virtualbox.gpg] https://download.virtualbox.org/virtualbox/debian $(. /etc/os-release && echo $UBUNTU_CODENAME) contrib" | sudo tee /etc/apt/sources.list.d/virtualbox.list
          sudo wget -O- https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          sudo echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(grep -oP '(?<=UBUNTU_CODENAME=).*' /etc/os-release || lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update -y
          sudo apt install vagrant virtualbox-7.0 -y

      - name: Rebuild boxes
        uses: nick-fields/retry@v3
        with:
          max_attempts: 2
          timeout_minutes: 90
          retry_on: error
          command: |
                  set -eux   
                  cd tests/vagrant
                    TEST_CASE='--local-install' \
                    DISTR='${{ matrix.distr }}' \
                    OS='${{matrix.os}}' \
                    RAM='8192' \
                    CPU='3' \
                    DOWNLOAD_SCRIPT='-ds false' \
                    TEST_REPO='-tr true' \
                    ARGUMENTS="-arg '--skiphardwarecheck true --localscripts true'" \
                    vagrant up --provider=virtualbox
                  sleep 300
                  vagrant package --output ${PRODUCT}-${OS_NAME}.box
                  wget https://raw.githubusercontent.com/ONLYOFFICE/ga-common/refs/heads/master/.github/scripts/vagrant_publish.sh
                  bash ./vagrant_publish.sh
          on_retry_command: |
                set -eux

                echo "RUN CLEAN UP: Remove repacked box and destroy"
                cd tests/vagrant
                rm -rf ${PRODUCT}-${OS_NAME}.box
                vagrant destroy --force

