name: Release DocSpace

run-name: "Release Docker-DocSpace ${{ github.event.inputs.release_version }}"

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'hub.docker repo owner (ex. onlyoffice)'
        type: string
        required: true
        default: 'onlyoffice'
      release_version:
        type: string
        description: 'Tag for stable release (ex. 2.5.1.1)'
        required: true
      source_version:
        type: string
        description: '4testing tag from which the release will be created (ex. 2.5.1.2678)'
        required: true
   
jobs:
  docker-release:
    uses: ONLYOFFICE/DocSpace-buildtools/.github/workflows/reusable-docspace-release.yaml@master
    with:
      repo: ${{ github.event.inputs.repo }}
      release_version: ${{ github.event.inputs.release_version }}
      source_version: ${{ github.event.inputs.source_version }}
    secrets:
      docker-username: ${{ secrets.DOCKERHUB_USERNAME }}
      docker-usertoken: ${{ secrets.DOCKERHUB_TOKEN }}
  
  trigger-offline-release:
    needs: docker-release
    if: ${{ needs.docker-release.result == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Wait for Docker Hub tag to appear
        shell: bash
        env:
          DOCKER_TAG: ${{ github.event.inputs.release_version }}
        run: |
          echo "Waiting for images with tag ${{ env.DOCKER_TAG }} to appear on Docker Hub..."
          curl -fsSL https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ github.ref_name }}/.github/scripts/docker-images-availability.sh \
            | sudo GITHUB_REPOSITORY=${{ github.repository }} BRANCH=${{ github.ref_name }} DOCKER_REPOSITORY=${{ github.event.inputs.repo }} DOCKER_PREFIX=docspace DOCKER_TAG=${{ env.DOCKER_TAG }} bash

      - name: Trigger offline release
        env:
          GH_TOKEN: ${{ secrets.TOKEN }}
        run: |
          gh workflow run "offline-release.yml" --repo "${{ github.repository }}" --ref "${{ github.ref_name }}" --field trigger=true
